.runBtn{
    flex: 1 1 0;
    display: block;
    position: relative;
    font-family: inherit;
    font-size: 0.85rem;
    min-width: 8rem;
    margin: 0.125rem;
    line-height: 1.5rem;
    color: rgb(200, 200, 200);
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.125rem;
    box-shadow: 0rem 0.065rem 0.065rem 0.065rem black;
    background-color: rgb(53, 56, 56);
}
.runBtn:hover{
    background-color: rgb(103, 106, 106);  
}
.runBtn:active{
    box-shadow: none;
}

@keyframes loaderAnimation{
    0% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(360deg)}
}
.runBtnAnimated{
    flex: 1 1 0;
    display: block;
    position: relative;
    font-family: inherit;
    font-size: 0.85rem;
    min-width: 8rem;
    margin: 0.125rem;
    line-height: 1.5rem;
    color: rgb(200, 200, 200);
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.125rem;
    box-shadow: 0rem 0.065rem 0.065rem 0.065rem black;
    background-color: rgb(53, 56, 56);
}
.runBtnAnimated:hover{
    background-color: rgb(103, 106, 106);  
}
.runBtnAnimated:active{
    box-shadow: none;
}
.runBtnAnimated::after{
    display: block;
    position: absolute;
    content: " ";
    width: 1rem;
    height: 1rem;
    top: 15%;
    left: 82.5%;
    background-image: url(./loading.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: loaderAnimation 1s infinite steps(8);
}