.corePanesHeader{
    display: flex;
    font-size: 0.85rem;
    flex: 1 1 0;
    max-height: 1.5rem;
    color: rgb(255, 128, 128);
    background-color: #555555;
}
.title{
    line-height: 1.25rem;
    text-align: center;
    flex: 16 1 0;
}
.collapseExpand{
    flex: 1 1 1.5rem;
    line-height: 1.25rem;
    text-align: center;
    min-width: 1.5rem;
    max-width: 2rem;
    outline: none;
    border-radius: 0.15rem;
}
.collapseExpand::after{
    display: block;
    position: relative;
    top: 25%;
    left: 40%;
    width: 0.5rem;
    height: 0.5rem;
    content: "";
    border-left: 2.5px solid rgb(255, 128, 128);
    border-bottom: 2.5px solid rgb(255, 128, 128);
    transform: rotateZ(45deg);
}
.collapseExpand:hover{
    color: black;
    background-color: rgb(104, 104, 104);
}
.collapseExpandBack{
    flex: 1 1 1.5rem;
    line-height: 1.25rem;
    text-align: center;
    min-width: 1.5rem;
    max-width: 2rem;
    outline: none;
    border-radius: 0.15rem;
}
.collapseExpandBack::after{
    display: block;
    position: relative;
    top: 25%;
    left: 25%;
    width: 0.5rem;
    height: 0.5rem;
    content: "";
    border-right: 2.5px solid rgb(255, 128, 128);
    border-bottom: 2.5px solid rgb(255, 128, 128);
    transform: rotateZ(-45deg);
}
.collapseExpandBack:hover{
    color: black;
    background-color: rgb(104, 104, 104);
}
