.toggleKey{
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    min-width: 1.5rem;
    max-width: 2.5rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}