.toggleKeyShow, .toggleKeyHide{
    display: block;
    width: 2.5rem;
    margin-left: 0.5rem;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../assets/show.svg), url(../../assets/hide.svg);
    background-position: center;
    cursor: pointer;
}

.toggleKeyHide{
    background-image: url(../../assets/hide.svg);
}