.entries{
    display: block;
    position: relative;
    margin: 0.75rem auto;
    border: none;
    overflow-x: visible;
    z-index: 3;
}
.entries:hover{
    background-color: rgb(104, 104, 104);
}
.entries input{
    font-size: 1rem;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    padding-left: 0.75rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    color:  rgb(220, 220, 220);
    outline: none;
    border: none;
    background-color: transparent;
}

.entries input::selection{
    background-color: transparent;
}
.entries input::placeholder{
    color:  rgb(150, 150, 150);
}
/* .entries:before{
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    height: 2rem;
    content: "Workspace name must be unique!";
    background-color: blue;
    z-index: 4;
} */