*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body, header, div, iframe, form, label, input, button{
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100%;
    min-width: 1024px;
    overflow-y: hidden;
}
a{
    display: block;
    width: 2rem;
    color: white;
    text-decoration: none;
}